* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    background-repeat: repeat;
    background-size: auto;
    height: 100vh;
}

#contours {
    top: 0;
    position: absolute;
    display: block;
    opacity: 0.5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(32, 32, 32, 0.9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

header img {
    max-height: 40px;
    margin-right: 16px;
}

main {
    margin-top: 60px;
    padding: 20px;
    height: 100px;
    perspective: 900px;
    max-width: 900px;
    margin: 60px auto -60px auto;
}

.row {
    display: flex;
    margin-bottom: 20px;
    transform-style: preserve-3d;
}

.box {
    background-color: rgba(128, 128, 128, 0.75);
    transform-origin: 50% 50% 0;
    transform-style: preserve-3d;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 4px;
    padding: 16px;
}

.box[data-animation] {
    cursor: pointer;
}

.box:last-child {
    margin-right: 0;
}

.big {
    flex: 1 1 calc(50% - 10px); /* 2 boxes per row */
}

.medium {
    flex: 1 1 calc(33.33% - 10px); /* 3 boxes per row */
}

.small {
    flex: 1 1 calc(20% - 10px); /* 5 boxes per row */
}
